<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/icon.png}"/>
</head>
<body>
<header>
    <div class="container">
        <div class="navbar">
            <a class="a-link-margin p-l-200" th:href="@{/} "><img th:src="@{/img/home.png}" class="account-bin">
            </a>
        </div>
    </div>
</header>

<div th:utext = "${password}"></div>
<form class="login100-form validate-form" th:action="@{/forgotPassword}" method="post">
    <div class="add">
        <input class="input100 m-b-15" type="text" placeholder="Имя пользователя" id="username" name="username">

        <input class="input100 m-b-15" type="email" placeholder="Email" id="email" name="email">

        <input class="input100 m-b-15" type="text" placeholder="Имя" id="firstName" name="firstName">

        <input class="input100 m-b-15" type="text" placeholder="Фамилия" id="lastName" name="lastName">

        <button class="login100-form-btn">
            Отправить
        </button>
    </div>

</form>
</body>
</html>