<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/icon.png}"/>
</head>
<body class="limiter">
<header>
    <div class="container">
        <div class="navbar">
            <a class="a-link-margin p-l-200" th:href="@{/} "><img th:src="@{/img/home.png}" class="account-bin">
            </a>
            <ul class="p-l-500">
                <li><a class="a-link-margin" th:href="@{/signIn}">Вход</a></li>
                <li><a class="a-link-margin" th:href="@{/signUp}">Регистрация</a></li>
            </ul>
        </div>
    </div>
</header>
    <div class="start">
        Добро пожаловать в магазин компьютерной техники!
    </div>

</body>
</html>